<!doctype html> 
<html>
<head>
<title>c3netmon</title>
<script src="/socket.io/socket.io.js"></script>
<script src="/misc/jquery-1.7.1.min.js"></script>
<script src="/misc/d3/d3.min.js"></script>
<script src="/misc/d3/d3.layout.min.js"></script>
<script src="/misc/jquery-ui/jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/misc/rickshaw/rickshaw.js"></script>
<script src="/js/jquery.socialshareprivacy.js"></script>
<link type="text/css" rel="stylesheet" href="/misc/jquery-ui/jquery-ui-1.9.2.custom/css/smoothness/jquery-ui-1.9.2.custom.min.css">
<link type="text/css" rel="stylesheet" href="/misc/rickshaw/rickshaw.css">
<link type="text/css" rel="stylesheet" href="/css/c3netmon.css">
<link type="text/css" rel="stylesheet" href="/css/font-awesome.css">
<link type="text/css" rel="stylesheet" href="/css/font-awesome-ie7.css">
<link type="text/css" rel="stylesheet" href="/css/socialshareprivacy.css">
<script language="javascript">
var debug = true;
var detailGraph = false;
</script>
<!--
       333333                 tt                               
  cccc    3333 nn nnn    eee  tt    mm mm mmmm   oooo  nn nnn  
cc       3333  nnn  nn ee   e tttt  mmm  mm  mm oo  oo nnn  nn 
cc         333 nn   nn eeeee  tt    mmm  mm  mm oo  oo nn   nn 
 ccccc 333333  nn   nn  eeeee  tttt mmm  mm  mm  oooo  nn   nn 
(c) - morpheus - morpheus@morphhome.net
    - UI by _exe

-->
</head>
<body>

<div id="container">

  <div id="loading">
    <img id="loading-image" src="/img/loader.gif" alt="Loading..." />
  </div>

  <a href="/"><img src="/img/29c3.png" class="logo" /></a>
  <div class="header">
    <h2>c3netmon</h2>
    <span class="welcome">
    Realtime 29C3 data served by nodejs + websockets<br>
    Thanks to the NOC, POC and FEM-Team for providing the data.<br>
    Detailed graphs can be found <a href="/detail" style="color: #FFF">here.</a>
    </span>
  </div>

  <div class="metal-box">
    <table width="100%">
      <tr>
        <td width="49%">
          <table width="100%">
            <tr>
              <td align="center" width="50%"><h3 class="gauge-title"><i class="icon-arrow-up"></i> Data sent</h3><div class="gauge"><h3 class="gauge-value"><span id="bw_up_total">0</span> GB<br></h3></div></td>
              <td align="center" width="50%"><h3 class="gauge-title"><i class="icon-arrow-down"></i> Data received</h3><div class="gauge"><h3 class="gauge-value"><span id="bw_down_total">0</span> GB<br></h3></div></td>
            </tr>
          </table>
        </td>
        <td width="2%"></div>
        <td width="49%">
          <div class="gauge">
      	    <div class="caption">Upstream usage (<span id="bw_up_percent"></span>%):</div>
            <div id="upstream" style="margin-bottom:6px;"></div>
          	<script>
          	$(function() {
          		$( "#upstream" ).progressbar({
          			value: 0
          		});
          	});
          	</script>
            <div class="caption">Downstream usage (<span id="bw_down_percent"></span>%):</div>
            <div id="downstream"></div>
            <script>
            $(function() {
              $( "#downstream" ).progressbar({
                value: 0
              });
            });
            </script>
          </div>
        </td>
      </tr>
    </table>
  </div>
  
  <br />

  <table width="100%" cellpadding="0" cellspacing="0">
    <span id="graph"></span>	  
  </table>
  <div id="info">
    <strong>Spread the word!</strong>
    <div id="socialshareprivacy"></div>
  </div>
  <div id="info">
  <strong>Info:</strong> Values in parentheses are peaks. <br>
  Historical data in json format is available <a href="/history.json">here</a>. Current values for your own projects can be found <a href="/current.json">here</a><br>
  <br />
  If you have any questions contact morpheus@morphhome.net.
  </div>

  <div style="text-align:right;margin-right:10px;">
    <a href="http://fremaks.de" target="_blank"><img src="/img/fremaks.png" /></a>
  </div>

</div>
<script src="/js/c3graph.js"></script>
<script src="/js/c3data.js"></script>

<!---
<script>
var detailGraph=null;
$(window).load(
  function() {
    $.getScript('/js/c3graph.js', function(data, textStatus){
  });

  setTimeout("$.getScript('/js/c3data.js', function(data, textStatus){});",250);
});
</script>
-->

<script type="text/javascript">
jQuery(document).ready(function($){
  if($('#socialshareprivacy').length > 0){
    $('#socialshareprivacy').socialSharePrivacy(); 
  }
});
</script>

</body>
</html>


