<!doctype html> 
<html>
<head>
<title>c3netmon</title>
<script src="/socket.io/socket.io.js"></script>
<script src="/misc/jquery-1.7.1.min.js"></script>
<script src="/misc/d3/d3.min.js"></script>
<script src="/misc/d3/d3.layout.min.js"></script>
<script src="/misc/jquery-ui/jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/misc/rickshaw/rickshaw.js"></script>
<link type="text/css" rel="stylesheet" href="/misc/jquery-ui/jquery-ui-1.9.2.custom/css/smoothness/jquery-ui-1.9.2.custom.min.css">
<link type="text/css" rel="stylesheet" href="/misc/rickshaw/rickshaw.css">
<link type="text/css" rel="stylesheet" href="/css/c3netmon.css">
<!--
       333333                 tt                               
  cccc    3333 nn nnn    eee  tt    mm mm mmmm   oooo  nn nnn  
cc       3333  nnn  nn ee   e tttt  mmm  mm  mm oo  oo nnn  nn 
cc         333 nn   nn eeeee  tt    mmm  mm  mm oo  oo nn   nn 
 ccccc 333333  nn   nn  eeeee  tttt mmm  mm  mm  oooo  nn   nn 
(c) - morpheus - morpheus@morphhome.net
    - UI by _exe

-->
</head>
<body>

<div id="container">

  <div id="loading">
    <img id="loading-image" src="/img/loader.gif" alt="Loading..." />
  </div>

  <a href="/"><img src="/img/28c3.png" class="logo" /></a>
  <div class="header">
    <h2>c3netmon</h2>
    Realtime 28c3 data served by nodejs + websockets<br>
    Thanks to the NOC, POC and FEM-Team for providing the data.<br>
    Detailed graphs can be found <a href="/detail" style="color: #FFF">here.</a>
  </div>

  <div class="metal-box">
    <table width="100%">
      <tr>
        <td width="49%">
          <table width="100%">
            <tr>
              <td align="center" width="50%"><h3 class="gauge-title">Data sent</h3><div class="gauge"><h3 class="gauge-value"><span id="bw_up_total">0</span> GB<br></h3></div></td>
              <td align="center" width="50%"><h3 class="gauge-title">Data received</h3><div class="gauge"><h3 class="gauge-value"><span id="bw_down_total">0</span> GB<br></h3></div></td>
            </tr>
          </table>
        </td>
        <td width="2%"></div>
        <td width="49%">
          <div class="gauge">
      	    <div class="caption">Upstream usage (<span id="bw_up_percent"></span>%):</div>
            <div id="upstream" style="margin-bottom:6px;"></div>
          	<script>
          	$(function() {
          		$( "#upstream" ).progressbar({
          			value: 0
          		});
          	});
          	</script>
            <div class="caption">Downstream usage (<span id="bw_down_percent"></span>%):</div>
            <div id="downstream"></div>
            <script>
            $(function() {
              $( "#downstream" ).progressbar({
                value: 0
              });
            });
            </script>
          </div>
        </td>
      </tr>
    </table>
  </div>
  
  <br />

  <table width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td valign="top">
        <div class="metal-box">
          <div id="bw">
            <h3 class="gauge-title">Bandwidth</h3>
            <div class="gauge">
              <strong>Out:</strong> <span id="bw_up_cur"></span>mbit/s (<span id="bw_up_peak"></span>mbit/s) &middot;
              <strong>In:</strong>  <span id="bw_down_cur"></span>mbit/s (<span id="bw_down_peak"></span>mbit/s) <br><br>
              <div id="bw_graph" class="graph-box"></div>
              <div id="bw_legend" class="graph-legend"></div>
            </div>
          </div>
        </div>
      </td>            
      <td valign="top">
        <div class="metal-box">
          <div id="clients">
            <h3 class="gauge-title">Clients</h3>
            <div class="gauge">
              <strong>Wired:</strong> <span id="clients_wired_cur"></span> (<span id="clients_wired_peak"></span>) &middot; 
              <strong>Wireless:</strong> <span id="clients_wireless_cur"></span> (<span id="clients_wireless_peak"></span>)<br /><br />
              <div id="clients_graph" class="graph-box"></div>
              <div id="clients_legend" class="graph-legend"></div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2"><br /></td>
    </tr>
    <tr>
      <td valign="top">
        <div class="metal-box">
          <div id="poc">
            <h3 class="gauge-title">POC</h3>
            <div class="gauge">
              <strong>Connected:</strong> <span id="poc_cur"></span> (<span id="poc_peak"></span>)<br /><br />
              <div id="poc_graph" class="graph-box"></div>
              <div id="poc_legend" class="graph-legend"></div>
            </div>
          </div>
        </div>
      </td>    
      <td valign="top">
        <div class="metal-box">
          <div id="streaming">
            <h3 class="gauge-title">Streaming</h3>
              <div class="gauge">
                <strong>Saal1:</strong> <span id="streaming_saal1_cur"></span> (<span id="streaming_saal1_peak"></span>) &middot; 
                <strong>Saal2:</strong> <span id="streaming_saal2_cur"></span> (<span id="streaming_saal2_peak"></span>) &middot; 
                <strong>Saal3:</strong> <span id="streaming_saal3_cur"></span> (<span id="streaming_saal3_peak"></span>)<br /><br />
                <div id="streaming_graph" class="graph-box"></div>
                <div id="streaming_legend" class="graph-legend"></div>
              </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2"><br /></td>
    </tr>
    <tr>
      <td valign="top">
        <div class="metal-box">
          <div id="geiger">
            <h3 class="gauge-title">Radiation level</h3>
            <div class="gauge" style="height:265px";>
              <strong>CPM @ POC:</strong> <span id="geiger_cur"></span> (<span id="geiger_peak"></span>)<br /><br />
              <div id="geiger_graph" class="graph-box"></div>
              <div id="geiger_legend" class="graph-legend"></div>
            </div>
          </div>
        </div>
      </td> 	   
      <td valign="top">
        <div class="metal-box">
          <div id="wireless_bands">
            <h3 class="gauge-title">Wireless Band Usage</h3>
              <div class="gauge">
                802.11 &middot; 
	        <strong>a:</strong> <span id="wireless_bands_a_cur"></span> &middot;
                <strong>g:</strong> <span id="wireless_bands_g_cur"></span> &middot;
                <strong>n (2,4GHz):</strong> <span id="wireless_bands_24n_cur"></span>  &middot;
                <strong>n (5GHz):</strong> <span id="wireless_bands_5n_cur"></span> 
                <div id="wireless_bands_graph" class="graph-box"></div>
                <div id="wireless_bands_legend" class="graph-legend"></div>
              </div>
          </div>
        </div>
      </td>
    </tr>
  <tr>
      <td colspan="2"><br /></td>
    </tr>
    <tr>
      <td valign="top">
        <div class="metal-box">
          <div id="openbeacon">
            <h3 class="gauge-title">OpenBeacon (r0ket)</h3>
            <div class="gauge">
              <strong>r0kets visible via OpenBeacon:</strong> <span id="openbeacon_cur"></span> (<span id="openbeacon_peak"></span>)<br /><br />
              <div id="openbeacon_graph" class="graph-box"></div>
              <div id="openbeacon_legend" class="graph-legend"></div>
            </div>
          </div>
        </div>
      </td> 	   
      <td valign="top">
        <div class="metal-box">
          <div id="protocols">
            <h3 class="gauge-title">IP Protocol Distribution</h3>
              <div class="gauge">
	        <strong>IPv4:</strong> <span id="protocols_ipv4_cur"></span>% &middot;
                <strong>IPv6</strong> <span id="protocols_ipv6_cur"></span>%
                <div id="protocols_graph" class="graph-box"></div>
                <div id="protocols_legend" class="graph-legend"></div>
              </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <div id="info">
  <strong>Info:</strong> Values in parentheses are peaks. <br>
  Historical data in json format is available <a href="/history.json">here</a>. Current values for your own projects can be found <a href="/current.json">here</a><br>
  <br />
  <strong>c3netmon</strong> code will be released on <a href="https://github.com/FremaksGmbH/c3netmon-public">github.com/FremaksGmbH/c3netmon-public</a> shortly after the congress. <br> 
  If you have any questions contact morpheus@morphhome.net.
  </div>

  <div style="text-align:right;margin-right:10px;">
    <a href="http://fremaks.de" target="_blank"><img src="/img/fremaks.png" /></a>
  </div>

</div>

<script>
var detailGraph=null;
$(window).load(
    function() {

    $.getScript('/js/c3graph.js', function(data, textStatus){
    });

    setTimeout("$.getScript('/js/c3data.js', function(data, textStatus){});",250);

});
</script>


</body>
</html>


