body {
  font-family: Signika, Signika-Light, Signika-Semibold, Verdana;
  font-size: 13px;
  padding-top: 20px;
  background: #eee url(/img/ps_neutral.png);
  color: #0090d3;
}

ul {
  margin: 0px !important;
  padding: 0px !important;
}

#container {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.6);
  border-top: 4px solid #0090d3;
  box-shadow: 0px 0px 7px #eee;
}

.metal-box {
  margin-left: 0px;
  padding: 10px;
  text-shadow: 0px 1px 0px #fff;
  background: #fff;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #efefef), color-stop(100%, #f7f7f7));
  background-image: -moz-linear-gradient(top, #efefef 0%, #f7f7f77 100%);
  background-image: linear-gradient(top, #efefef 0%, #f7f7f7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#efefef', EndColorStr='#f7f7f7'); /* IE6–IE9 */
  border: 1px solid #ddd;
  box-shadow: 0px 0px 2px #eee;
}
.caption {
  font-weight: bold;
  margin-bottom: 5px;
}

.gauge-title {
  font-size: 18px;
  color: #231f20;
  text-transform: uppercase;
}
.gauge-title {
  line-height: 8px;
  padding-left: 8px;
  margin: 15px 8px;
  padding: 0px;
}


.gauge-value {
  font-size: 30px;
  line-height: 7px;
}
.gauge {    
  background: #fff;
  padding: 10px;
  font-size: 12px;
  background: #fff;
}
#bw .gauge,
#clients .gauge,
#poc .gauge,
#geiger .gauge,
#streaming .gauge { 
  height: 260px;
}

img.logo {
  float: left;
  width: 400px;
}

.header {
  height: 85px;
  margin-left: 520px;
}

h2 {  
  color: #0090d3;
  font-size: 15px;
  margin: 0px;
  padding: 0px;
}
.welcome {
  font-size: 12px;
  color: #0090d3;
}

#info {
  color: #fff;
  line-height: 19px;
  margin: -15px;
  margin-top: 0px;
  padding: 10px;
  background: #0090d3;
}
#info a {
  color: #000;
  font-weight: bold;
}

#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  opacity: 0.9;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 250px;
  left: 50%;
  z-index: 100;
}

.ui-widget-header  {
  border: 1px solid #56C4CF;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #0090d3), color-stop(100%, #0090d3));
  background-image: -moz-linear-gradient(top, #0090d3 0%, #0090d3 100%);
  background-image: linear-gradient(top, #0090d3 0%, #0090d3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#0090d3', EndColorStr='#0090d3'); /* IE6–IE9 */
}
.ui-widget-content {
  border: 1px solid #ccc;
  background: #fff;
}

.graph-box {
  background: none;  
  width:425px;
}
.graph-legend {  
  color: #0090d3;
  text-shadow: 0px 0px 2px #0090d3;
  padding: 0px;  
  padding-left: 0px;
  border: 0px;
  background: none;
}
