body {
  font-family: Signika, Signika-Light, Signika-Semibold, Verdana;
  font-size: 13px;
  padding-top: 20px;
  background: #222 url(/img/carbon_fibre_big.png);
  color: #56c4cf;
}

ul {
  margin: 0px !important;
  padding: 0px !important;
}

#container {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 15px;
  background: #191919;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #191919), color-stop(100%, #000000));
  background-image: -moz-linear-gradient(top, #191919 0%, #000000 100%);
  background-image: linear-gradient(top, #191919 0%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#191919', EndColorStr='#000000'); /* IE6–IE9 */
  border: 2px solid #222;
  -webkit-border-radius: 10px 10px;
  -moz-border-radius: 10px / 10px;
  -o-border-radius: 10px / 10px;
  -ms-border-radius: 10px / 10px;
  -khtml-border-radius: 10px / 10px;
  border-radius: 10px / 10px;
}

.metal-box {
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  text-shadow: 0px -1px 0px #000;
  background: #ffffff;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #555555), color-stop(100%, #222222));
  background-image: -moz-linear-gradient(top, #555555 0%, #222222 100%);
  background-image: linear-gradient(top, #555555 0%, #222222 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#555555', EndColorStr='#222222'); /* IE6–IE9 */
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 9px;
  border-bottom: 2px solid #222;
  -moz-box-shadow: 0px 0px 10px #111; 
  -webkit-box-shadow: 0px 0px 10px #111; 
  box-shadow: 0px 0px 10px #111;
}
.caption {
  font-weight: bold;
  margin-bottom: 5px;
}

.gauge-title {
  font-size: 18px;
  color: #ddd;
  text-transform: uppercase;
}
.gauge-title {
  line-height: 8px;
  padding-left: 8px;
  margin: 15px 8px;
  padding: 0px;
}


.gauge-value {
  font-size: 30px;
  line-height: 7px;
}
.gauge {    
  background: #000;
  padding: 10px;
  text-shadow: 0px 0px 6px #56c4cf;
  border: 1px solid #222;  
  border-bottom: 1px solid #555;  
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px / 10px;
  -o-border-radius: 10px / 10px;
  -ms-border-radius: 10px / 10px;
  -khtml-border-radius: 10px / 10px;  
  border-radius: 10px / 10px;
  background: #000000;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #000000), color-stop(100%, #173a3d));
  background-image: -moz-linear-gradient(top, #000000 0%, #333333 100%);
  background-image: linear-gradient(top, #000000 0%, #333333 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#000000', EndColorStr='#333333'); /* IE6–IE9 */
  -moz-box-shadow: 0px 0px 20px #032123 inset; 
  -webkit-box-shadow: 0px 0px 20px #032123 inset; 
  box-shadow: 0px 0px 20px #032123 inset;
}
#bw .gauge,
#clients .gauge,
#poc .gauge,
#geiger .gauge,
#streaming .gauge { 
  height: 260px;
}

img.logo {
  float: left;
  width: 121px;
  height: 67px;
}

.header {
  height: 85px;
  margin-left: 140px;
}

h2 {  
  color: #56c4cf;
  font-size: 15px;
  margin: 0px;
  padding: 0px;
}
.welcome {
  font-size: 12px;
  color: #56c4cf;
}

#info {
  color: #000;
  line-height: 19px;
  text-shadow: 0px 1px 0px #fff;
  margin: 5px;
  margin-top: 20px;
  padding: 10px;
  background: #ffffff;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #cccccc 100%);
  background-image: linear-gradient(top, #ffffff 0%, #cccccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#cccccc'); /* IE6–IE9 */
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}
#info a {
  color: #000;
  font-weight: bold;
}

#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  opacity: 0.9;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 250px;
  left: 50%;
  z-index: 100;
}

.ui-widget-header  {
  border: 1px solid #56C4CF;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #56C4CF), color-stop(100%, #255559));
  background-image: -moz-linear-gradient(top, #56C4CF 0%, #255559 100%);
  background-image: linear-gradient(top, #56C4CF 0%, #255559 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#56C4CF', EndColorStr='#255559'); /* IE6–IE9 */
}
.ui-widget-content {
  border: 1px solid #255559;
  background: #000;
}

.graph-box {
  background: none;  
  width:425px;
}
.graph-legend {  
  color: #56c4cf;
  text-shadow: 0px 0px 2px #56c4cf;
  padding: 5px;  
  padding-left: 0px;
  border: 0px;
  background: none;
}
